/*************************************
Main layout styling
*************************************/

html {
  font-size: 14px;
}

body {
    font-size: 1rem;
    color:$white;
    background: #91e842;
    background: linear-gradient(to bottom, rgba(145,232,66,1) 0%, rgba(210,255,82,1) 100%);
    background-repeat: no-repeat;
    min-height: 100vh;
}

.hero{
    background-image: url("/Content/images/hero.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    .hero-inner{
        background: rgba(0,0,0,0.75);
        padding: 30px;
    }

    .sub-title{
        color: $grey;
    }
}
