/*************************************
Main layout styling
*************************************/

html {
  font-size: 14px;
}

body {
    font-size: 1rem;
    color:$white;
    background: #91e842;
    background: linear-gradient(to bottom, rgba(145,232,66,1) 0%, rgba(210,255,82,1) 100%);
    background-repeat: no-repeat;
    min-height: 100vh;
}

.hero{
    background: transparent;

    .sub-title{
        color: $grey;
    }
}
