.link{
    color: $white;
    background: transparent;
    text-decoration: none;

    &:hover,
    &:focus{
        color: $green;
        background: transparent;
        text-decoration: none;
    }
}
