header{
    .navbar{
        border-radius: 0;

        &-header{
            position: relative;
        }

        &-default{
            border: none;
            background: $darker-grey;
        }

        &-brand{
            height: auto;
        }

        &-centered-right{
            position: absolute;
            top: 50%;
            right: 30px;
            transform: translateY(-50%);

            @media (max-width: 768px){
                position: static;
                transform: none;
            }
        }

        &-toggle{
            position: absolute;
            right:10px;
            margin: 0;
            top:50%;
            transform: translateY(-50%);
            .icon-bar{
                background: $white;
            }
        }
    }
}
