<div class="hero">
    <div class="container hero-inner">
        <div class="page-header">
            <h1>Help your community</h1>
        </div>
        <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur semper condimentum. Sed vitae mattis magna. Nam interdum rhoncus iaculis. Nunc dui augue, congue ac feugiat et, cursus quis ex. Vestibulum magna augue, ultricies in orci gravida, elementum rutrum velit. Fusce augue tortor, porta non auctor id, ultrices non arcu. Nullam volutpat congue ligula, in maximus mauris vestibulum eu. Pellentesque nulla turpis, ornare at viverra vel, lacinia vehicula erat. Duis eget massa ut turpis placerat pellentesque id ac odio. Pellentesque quam ante, aliquam vel gravida nec, blandit vitae leo. Duis ullamcorper lacus dictum erat gravida feugiat. Mauris nibh leo, sollicitudin eu finibus id, tempus eget turpis. Sed fringilla est sed mauris blandit, sit amet iaculis erat varius. </p>
        <p><a class="btn btn-primary btn-lg" href="#modal" role="button">SHARE AN IDEEA</a></p>
    </div>
</div>
<div class="board">
    <div class="container">
        <div class="board-title text-center spacer-bottom-xl">
            <h2>Tell us more</h2>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h3>
                    Share your ideea
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta maxime, repellendus harum quod, quis alias molestiae deleniti eum dignissimos delectus, nemo molestias in sint dolore voluptate adipisci iste recusandae praesentium laborum nobis dolores! Porro libero vel unde officia enim, at temporibus odit animi dicta hic, eaque voluptatem quod eligendi provident pariatur ex ut. Consectetur culpa luptas id nobis illo quia. Vel accusamus, nulla totam, pariatur esse perferendis fugiat ipsum explicabo nobis, minima eum natus reprehenderit sequi laudantium!</p>
                <button class="btn btn-primary">Let's go</button>
            </div>
            <div class="col-sm-6">
                <img class="img-responsive" src="http://placehold.it/600x400" />
            </div>
        </div>
    </div>
</div>
<div class="board light">
    <div class="container">
        <div class="board-title text-center spacer-bottom-xl">
            <h2>Tell us more</h2>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <img class="img-responsive" src="http://placehold.it/600x400" />
            </div>
            <div class="col-sm-6">
                <h3>
                    Share your ideea
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta maxime, repellendus harum quod, quis alias molestiae deleniti eum dignissimos delectus, nemo molestias in sint dolore voluptate adipisci iste recusandae praesentium laborum nobis dolores! Porro libero vel unde officia enim, at temporibus odit animi dicta hic, eaque voluptatem quod eligendi provident pariatur ex ut. Consectetur culpa luptas id nobis illo quia. Vel accusamus, nulla totam, pariatur esse perferendis fugiat ipsum explicabo nobis, minima eum natus reprehenderit sequi laudantium!</p>
                <button class="btn btn-primary">Let's go</button>
            </div>

        </div>
    </div>
</div>
<div class="board dark">
    <div class="container">
        <div class="board-title text-center spacer-bottom-xl">
            <h2>Tell us more</h2>
        </div>
        <div class="board-intro-img spacer-bottom-l">
            <img class="img-responsive" src="http://placehold.it/1200x400" />
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3>Share your ideea</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta maxime, repellendus harum quod, quis alias molestiae deleniti eum dignissimos delectus, nemo molestias in sint dolore voluptate adipisci iste recusandae praesentium laborum nobis dolores! Porro libero vel unde officia enim, at temporibus odit animi dicta hic, eaque voluptatem quod eligendi provident pariatur ex ut. Consectetur culpa luptas id nobis illo quia. Vel accusamus, nulla totam, pariatur esse perferendis fugiat ipsum explicabo nobis, minima eum natus reprehenderit sequi laudantium!</p>
                <button class="btn btn-primary">Let's go</button>
            </div>

        </div>
    </div>
</div>
<div class="board dark">
    <div class="container">
        <div class="article">
            <div class="article__preview-img">
                <img class="img-responsive" src="http://placehold.it/300x300" />
            </div>
            <div class="article__short-desc padded-left-l">
                <div class="article__head spacer-bottom-m">
                    <a class="link"><h3 class="article__title no-spacer">Article title</h3></a>
                    <div class="article__info">
                        <span class="article__author">Marius Lazar</span>
                        <span class="divider">|</span>
                        <span class="article__date">20/11/2017</span>
                    </div>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus numquam dolores voluptate laboriosam explicabo minima sed adipisci odio aut distinctio accusantium saepe sapiente corrupti rem impedit, voluptatem neque quibusdam? Ex voluptatem, eaque, culpa eligendi fugiat ut totam deleniti at consequatur. Asperiores porro, pariatur, facere debitis fugit, quia laborum est sed nulla quod laudantium. Culpa ea deserunt ullam magnam, perspiciatis iure dolores maiores sequi asperiores a quisquam voluptas beatae libero fugit aperiam eligendi voluptatum vel reprehenderit. Voluptatum neque, quos dicta est voluptatem aliquam id cumque tenetur ut sint architecto maxime nihil blanditiis pariatur incidunt voluptates odit voluptas! <a class="link primary">read more...</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="board light">
    <div class="container">
        <div class="article">
            <div class="article__short-desc padded-right-l">
                <div class="article__head spacer-bottom-m">
                    <a class="link"><h3 class="article__title no-spacer">Article title</h3></a>
                    <div class="article__info">
                        <span class="article__author">Marius Lazar</span>
                        <span class="divider">|</span>
                        <span class="article__date">20/11/2017</span>
                    </div>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus numquam dolores voluptate laboriosam explicabo minima sed adipisci odio aut distinctio accusantium saepe sapiente corrupti rem impedit, voluptatem neque quibusdam? Ex voluptatem, eaque, culpa eligendi fugiat ut totam deleniti at consequatur. Asperiores porro, pariatur, facere debitis fugit, quia laborum est sed nulla quod laudantium. Culpa ea deserunt ullam magnam, perspiciatis iure dolores maiores sequi asperiores a quisquam voluptas beatae libero fugit aperiam eligendi voluptatum vel reprehenderit. Voluptatum neque, quos dicta est voluptatem aliquam id cumque tenetur ut sint architecto maxime nihil blanditiis pariatur incidunt voluptates odit voluptas! <a class="link primary">read more...</a>
                </p>
            </div>
            <div class="article__preview-img">
                <img class="img-responsive" src="http://placehold.it/300x300" />
            </div>
        </div>
    </div>
</div>
<div class="board dark">
    <div class="container">
        <div class="article">
            <div class="article__preview-img">
                <img class="img-responsive" src="http://placehold.it/300x300" />
            </div>
            <div class="article__short-desc padded-left-l">
                <div class="article__head spacer-bottom-m">
                    <a class="link"><h3 class="article__title no-spacer">Article title</h3></a>
                    <div class="article__info">
                        <span class="article__author">Marius Lazar</span>
                        <span class="divider">|</span>
                        <span class="article__date">20/11/2017</span>
                    </div>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus numquam dolores voluptate laboriosam explicabo minima sed adipisci odio aut distinctio accusantium saepe sapiente corrupti rem impedit, voluptatem neque quibusdam? Ex voluptatem, eaque, culpa eligendi fugiat ut totam deleniti at consequatur. Asperiores porro, pariatur, facere debitis fugit, quia laborum est sed nulla quod laudantium. Culpa ea deserunt ullam magnam, perspiciatis iure dolores maiores sequi asperiores a quisquam voluptas beatae libero fugit aperiam eligendi voluptatum vel reprehenderit. Voluptatum neque, quos dicta est voluptatem aliquam id cumque tenetur ut sint architecto maxime nihil blanditiis pariatur incidunt voluptates odit voluptas! <a class="link primary">read more...</a>
                </p>
            </div>
        </div>
    </div>
</div>


<div class="remodal-bg">
    <div class="remodal" data-remodal-id="modal">
        <button data-remodal-action="close" class="remodal-close"></button>
        <h3>Share an idea</h3>
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" class="form-control" />
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" name="email" class="form-control" />
            </div>
            <div class="form-group">
                <label for="ideea">Your ideea</label>
                <textarea name="ideea" class="form-control" cols="4"></textarea>
            </div>
        </form>
        <br>
        <button data-remodal-action="confirm" class="remodal-confirm">SHARE</button>
        <button data-remodal-action="cancel" class="remodal-cancel">CANCEL</button>
    </div>
</div>
