<div class="board hero">
    <div class="container hero-inner">
        <div class="page-header">
            <h1>Help your community</h1>
        </div>
        <p class="sub-title">Share your awesome ideea</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>
</div>
<div class="board">
    <div class="container">
        <div class="board-title text-center spacer-bottom-xl">
            <h1>Tell us more</h1>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h2>
                    Share your ideea
                </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta maxime, repellendus harum quod, quis alias molestiae deleniti eum dignissimos delectus, nemo molestias in sint dolore voluptate adipisci iste recusandae praesentium laborum nobis dolores! Porro libero vel unde officia enim, at temporibus odit animi dicta hic, eaque voluptatem quod eligendi provident pariatur ex ut. Consectetur culpa luptas id nobis illo quia. Vel accusamus, nulla totam, pariatur esse perferendis fugiat ipsum explicabo nobis, minima eum natus reprehenderit sequi laudantium!</p>
                <button class="btn btn-primary">Let's go</button>
            </div>
            <div class="col-sm-6">
                <img class="img-responsive" src="http://placehold.it/600x400" />
            </div>
        </div>
    </div>
</div>
<div class="board light">
    <div class="container">
        <div class="board-title text-center spacer-bottom-xl">
            <h1>Tell us more</h1>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <img class="img-responsive" src="http://placehold.it/600x400" />
            </div>
            <div class="col-sm-6">
                <h2>
                    Share your ideea
                </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta maxime, repellendus harum quod, quis alias molestiae deleniti eum dignissimos delectus, nemo molestias in sint dolore voluptate adipisci iste recusandae praesentium laborum nobis dolores! Porro libero vel unde officia enim, at temporibus odit animi dicta hic, eaque voluptatem quod eligendi provident pariatur ex ut. Consectetur culpa luptas id nobis illo quia. Vel accusamus, nulla totam, pariatur esse perferendis fugiat ipsum explicabo nobis, minima eum natus reprehenderit sequi laudantium!</p>
                <button class="btn btn-primary">Let's go</button>
            </div>

        </div>
    </div>
</div>
<div class="board dark">
    <div class="container">
        <div class="board-title text-center spacer-bottom-xl">
            <h1>Tell us more</h1>
        </div>
        <div class="board-intro-img spacer-bottom-l">
            <img class="img-responsive" src="http://placehold.it/1200x400" />
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2>
                    Share your ideea
                </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta maxime, repellendus harum quod, quis alias molestiae deleniti eum dignissimos delectus, nemo molestias in sint dolore voluptate adipisci iste recusandae praesentium laborum nobis dolores! Porro libero vel unde officia enim, at temporibus odit animi dicta hic, eaque voluptatem quod eligendi provident pariatur ex ut. Consectetur culpa luptas id nobis illo quia. Vel accusamus, nulla totam, pariatur esse perferendis fugiat ipsum explicabo nobis, minima eum natus reprehenderit sequi laudantium!</p>
                <button class="btn btn-primary">Let's go</button>
            </div>

        </div>
    </div>
</div>
<div class="board dark">
    <div class="container">
        <div class="article">
            <div class="article__preview-img">
                <img class="img-responsive" src="http://placehold.it/300x300" />
            </div>
            <div class="article__short-desc padded-left-l">
                <div class="article__head spacer-bottom-m">
                    <a class="link"><h2 class="article__title no-spacer">Article title</h2></a>
                    <div class="article__info">
                        <span class="article__author">Marius Lazar</span>
                        <span class="divider">|</span>
                        <span class="article__date">20/11/2017</span>
                    </div>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus numquam dolores voluptate laboriosam explicabo minima sed adipisci odio aut distinctio accusantium saepe sapiente corrupti rem impedit, voluptatem neque quibusdam? Ex voluptatem, eaque, culpa eligendi fugiat ut totam deleniti at consequatur. Asperiores porro, pariatur, facere debitis fugit, quia laborum est sed nulla quod laudantium. Culpa ea deserunt ullam magnam, perspiciatis iure dolores maiores sequi asperiores a quisquam voluptas beatae libero fugit aperiam eligendi voluptatum vel reprehenderit. Voluptatum neque, quos dicta est voluptatem aliquam id cumque tenetur ut sint architecto maxime nihil blanditiis pariatur incidunt voluptates odit voluptas! <a class="link primary">read more...</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="board light">
    <div class="container">
        <div class="article">
            <div class="article__short-desc padded-right-l">
                <div class="article__head spacer-bottom-m">
                    <a class="link"><h2 class="article__title no-spacer">Article title</h2></a>
                    <div class="article__info">
                        <span class="article__author">Marius Lazar</span>
                        <span class="divider">|</span>
                        <span class="article__date">20/11/2017</span>
                    </div>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus numquam dolores voluptate laboriosam explicabo minima sed adipisci odio aut distinctio accusantium saepe sapiente corrupti rem impedit, voluptatem neque quibusdam? Ex voluptatem, eaque, culpa eligendi fugiat ut totam deleniti at consequatur. Asperiores porro, pariatur, facere debitis fugit, quia laborum est sed nulla quod laudantium. Culpa ea deserunt ullam magnam, perspiciatis iure dolores maiores sequi asperiores a quisquam voluptas beatae libero fugit aperiam eligendi voluptatum vel reprehenderit. Voluptatum neque, quos dicta est voluptatem aliquam id cumque tenetur ut sint architecto maxime nihil blanditiis pariatur incidunt voluptates odit voluptas! <a class="link primary">read more...</a>
                </p>
            </div>
            <div class="article__preview-img">
                <img class="img-responsive" src="http://placehold.it/300x300" />
            </div>
        </div>
    </div>
</div>
<div class="board dark">
    <div class="container">
        <div class="article">
            <div class="article__preview-img">
                <img class="img-responsive" src="http://placehold.it/300x300" />
            </div>
            <div class="article__short-desc padded-left-l">
                <div class="article__head spacer-bottom-m">
                    <a class="link"><h2 class="article__title no-spacer">Article title</h2></a>
                    <div class="article__info">
                        <span class="article__author">Marius Lazar</span>
                        <span class="divider">|</span>
                        <span class="article__date">20/11/2017</span>
                    </div>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus numquam dolores voluptate laboriosam explicabo minima sed adipisci odio aut distinctio accusantium saepe sapiente corrupti rem impedit, voluptatem neque quibusdam? Ex voluptatem, eaque, culpa eligendi fugiat ut totam deleniti at consequatur. Asperiores porro, pariatur, facere debitis fugit, quia laborum est sed nulla quod laudantium. Culpa ea deserunt ullam magnam, perspiciatis iure dolores maiores sequi asperiores a quisquam voluptas beatae libero fugit aperiam eligendi voluptatum vel reprehenderit. Voluptatum neque, quos dicta est voluptatem aliquam id cumque tenetur ut sint architecto maxime nihil blanditiis pariatur incidunt voluptates odit voluptas! <a class="link primary">read more...</a>
                </p>
            </div>
        </div>
    </div>
</div>