<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Under 33</title>
    <link href="~/Content/styles.css" rel="stylesheet" />
</head>
    <body id="content_bg_repeat">
        <img src="~/Content/images/under33_logo.png" />
        <div>
            @RenderBody()
        </div>
    </body>
</html>
