<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Under 33</title>
    @Styles.Render("~/bundles/css")
</head>

<body>
    <header>
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topNav" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="~/Content/images/under33_logo.png" alt="Under33 Logo" />
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="topNav">
                    <ul class="nav navbar-nav navbar-centered-right">
                        <li><a href="#" class="link">Home</a></li>
                        <li><a href="#" class="link">Dreams</a></li>
                        <li><a href="#" class="link">Ideas</a></li>
                        <li><a href="#" class="link">Change My Community</a></li>
                        <li><a href="#" class="link">Change the World</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
         @RenderBody()
    </main>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 text-left">
                    Copyright &copy; Under33
                </div>
                <div class="col-sm-6 text-right">
                    <ul class="list-inline list-unstyled">
                        <li><a href="#" class="link">Home</a></li>
                        <li><a href="#" class="link">About</a></li>
                        <li><a href="#" class="link">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/js")
</body>
