/*************************************
Variables used across the website
*************************************/
$white: #fff;
$black: #000;


$yellow: #FCD804;
$green: #97C240;
$dark-green: #1A4D3E;

$primary-text: #3e3f3d;

$darker-grey: #292c2f;
$dark-grey: #494A4A;
$grey: #777;
$light-grey: #FAFAFA;

$mobile: 767px;
$tablet: 991px;
